{% extends "accounts/layout.html" %}

{% block title %}
Fail
{% endblock %}

{% block content %}

<div class="s-f-box">

    <div class="s-f-icon">

        <svg viewBox="0 0 24 24" width="18" height="18">
            <path d="M6 6L18 18M18 6L6 18"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"/>
        </svg>

    </div>

    <div class="s-f-text">
        Fail
    </div>

</div>

{% endblock %}