{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'accounts/css/reg-log-styles.css' %}">
</head>

<body>
    <div id="window-log">

        <form method="POST" action="{% url 'login' %}">

        {% csrf_token %}

        <div class="header">
            <h3>Авторизация</h3>
            <p>Введите свой Email ниже, чтобы войти в свою учетную запись.</p>
        </div>
        <div class="field big"> 
            <label><b>Email</b></label>
            <input 
            type="email" 
            name="email" 
            placeholder="Введите ваш email">
        </div>
        <div class="field big">
            <label><b>Пароль</b></label>
            <input 
            type="password" 
            name = "password" 
            placeholder="Введите ваш пароль" 
            class="{% if error %}input-error{% endif %}">
        </div>

        {% if error %}
            <p class="error-text">Неверный Email или пароль</p>
        {% endif %}

        <button type="submit" class="create-button">
            Авторизоваться
        </button>

      </form>

        <div class="last-text">
        У вас нет аккаунта?
        <a href="{% url 'reg' %}">Регистарция</a>
        </div>

</body>

</html>
