{% extends "accounts/layout.html" %}

{% block title %}
Success
{% endblock %}

{% block content %}

<div class="s-f-box">

    <div class="s-f-icon">
        
        <svg viewBox="0 0 24 24" width="23" height="23">
            <path d="M5 12.5L10 17L19 7"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"/>
        </svg>
    </div>

    <div class="s-f-text">
        Success
    </div>

</div>

{% endblock %}